@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Plus Jakarta Sans, system-ui, sans-serif;
	}

	main {
		margin-top: 4rem;
		min-height: 100vh;
	}

		.transition-height {
			transition: height 0.7s ease;
		}
}